.bar {
    max-width: 960px;
    padding: 10px 8px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21252b;
    text-align: center;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(0,27,55,.1);
}

.bar left {
    display: flex;
    align-content: center;
}

.bar right {
    display: flex;
    float: right;
}

.bar img {
    vertical-align: middle;
}

.link {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}