.bar {
    height: 60px;
    background-color: #21252b;
    text-align: center;
    line-height: 60px;
}

.bar img {
    vertical-align: middle;
}

.link {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}