body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282C34;
    color: #c9d6de;
}