.bar {
    max-width: 960px;
    padding: 10px 8px;
    margin: 2px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.bar .left {
    display: flex;
    align-content: center;
}

.bar .right {
    display: flex;
    float: right;
}

.bar img {
    vertical-align: middle;
}

.link {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.profile {
    margin-left: 16px;
    border-radius: 100%;
}

.link:after {
    position: absolute;
    content: none;
    display: block;
    width: 30px;
    margin-top: 20px;
    border-bottom: 2px solid #ffffff;
}

.link:hover:after {
    content: "";
}