.problem {
    max-width: 960px;
    padding: 50px 8px;
    margin: 2px auto;
    margin-top: 50px;
}

.problem .name {
    padding: 16px 30px;
    font-size: 2rem;
    color: white;
}

.problem .nav {
    max-width: 960px;
    padding: 10px 8px;
    margin: 80px auto 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.problem .nav .left {
    display: flex;
    align-content: center;
}

.problem .nav .right {
    display: flex;
    float: right;
}

button.option {
    background-color: black;
}