@import 'reset.css';

:root {
    --main-bg-color: #26292e;
    --main-txt-color: #c9d6de;
    --dark-bg-color: #21252b;
    --dark-txt-color: #656d7a;
    --light-bg-color: #383c45;
    --blue: #649dff;
    --purple: #9764ff;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #454b54;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #21252b;
}

::-moz-selection {
    background: #8a9095;
    color: var(--main-bg-color);
}

::selection {
    background: #8a9095;
    color: var(--main-bg-color);
}

header {
    position: fixed;
    background-color: var(--dark-bg-color);
    left: 0;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid var(--dark-txt-color);
}

a {
    text-decoration: underline;
    color: inherit;
    transition: 0.3s;
}

b {
    font-weight: bold;
}

a:hover {
    color: #ffffff;
}